In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
arima_result = pd.read_csv('../output/arima_result.csv')
arima_result.mean()

Unnamed: 0     49.500000
Store         585.390000
rmspe_x         0.287288
smape_x        25.893528
rmspe_y         0.075213
smape_y         6.151082
dtype: float64

In [3]:
prophet_result = pd.read_csv('../output/prophet_result.csv')
prophet_result.mean()

Unnamed: 0     49.500000
Store         585.390000
rmspe_x         0.204381
smape_x        17.039615
rmspe_y         0.062313
smape_y         4.945281
dtype: float64

In [29]:
rnn_result = pd.read_csv('../output/rnn_result.csv')
rnn_result.mean()

Unnamed: 0     49.500000
Store         585.390000
rmspe_x         0.204391
smape_x        18.039293
rmspe_y         0.091794
smape_y         8.272540
rmspe_x.1       0.116671
smape_x.1       9.436731
rmspe_y.1       0.203133
smape_y.1      16.553350
dtype: float64

In [30]:
rnn_result.groupby('StoreType').mean()

,Unnamed: 0,Store,rmspe_x,smape_x,rmspe_y,smape_y,rmspe_x.1,smape_x.1,rmspe_y.1,smape_y.1
StoreType,,,,,,,,,,
a,14.5,617.333333,0.210304,18.011788,0.085123,7.603723,0.101497,8.250443,0.186412,14.957513
b,34.5,528.600000,0.190981,14.303545,0.144847,13.290456,0.275378,21.288224,0.340942,25.112130
c,54.5,605.133333,0.208759,18.768218,0.092024,8.124409,0.107316,8.869393,0.190505,16.302750
d,84.5,552.633333,0.198581,18.583121,0.080552,7.416851,0.088299,7.239860,0.186544,15.546860

In [32]:
rnn_result.mean()

Unnamed: 0     49.500000
Store         585.390000
rmspe_x         0.204391
smape_x        18.039293
rmspe_y         0.091794
smape_y         8.272540
rmspe_x.1       0.116671
smape_x.1       9.436731
rmspe_y.1       0.203133
smape_y.1      16.553350
dtype: float64

In [31]:
rnn_hresult = pd.read_csv('../output/rnn_hyper_result.csv')
rnn_hresult.groupby('StoreType').mean()

           Unnamed: 0       Store   rmspe_x    smape_x   rmspe_y    smape_y
StoreType
a                14.5  617.333333  0.072249   6.039484  0.082313   6.875778
b                34.5  528.600000  0.140178  11.943553  0.196384  14.794481
c                54.5  605.133333  0.068919   5.822658  0.074484   6.128657
d                84.5  552.633333  0.065591   5.686814  0.066595   5.523264

In [33]:
rnn_hresult.mean()

Unnamed: 0     49.500000
Store         585.390000
rmspe_x         0.076045
smape_x         6.459042
rmspe_y         0.086656
smape_y         7.037758
dtype: float64

In [35]:
nbeats_result = pd.read_csv('../output/nbeats_results.csv')
nbeats_result.mean()

Unnamed: 0     49.500000
Store         585.390000
rmspe_x         0.218291
smape_x        18.452591
rmspe_y         0.207502
smape_y        15.503311
dtype: float64

In [36]:
nbeats_result.groupby('StoreType').mean()

           Unnamed: 0       Store   rmspe_x    smape_x   rmspe_y    smape_y
StoreType
a                14.5  617.333333  0.203259  16.345561  0.211390  15.545961
b                34.5  528.600000  0.262323  20.636117  0.215541  15.076560
c                54.5  605.133333  0.235767  21.126114  0.207119  16.029408
d                84.5  552.633333  0.201172  17.158255  0.201319  15.076814

In [37]:
nbeats_hresult = pd.read_csv('../output/nbeats_hyper_result.csv')
nbeats_hresult.mean()

Unnamed: 0     49.500000
Store         585.390000
rmspe           0.161478
smape          13.294597
dtype: float64

In [38]:
nbeats_hresult.groupby('StoreType').mean()

           Unnamed: 0       Store     rmspe      smape
StoreType
a                14.5  617.333333  0.159385  12.992552
b                34.5  528.600000  0.147126  10.909225
c                54.5  605.133333  0.172356  14.461083
d                84.5  552.633333  0.157478  13.225281

In [40]:
tft_result = pd.read_csv('../output/tft_result.csv')
tft_result.mean()

Unnamed: 0     49.500000
Store         585.390000
rmspe           0.113486
smape           8.605681
dtype: float64

In [41]:
tft_result.groupby('StoreType').mean()

           Unnamed: 0       Store     rmspe      smape
StoreType
a           64.500000  617.333333  0.101963   7.931981
b           84.500000  528.600000  0.189533  13.333993
c           37.833333  605.133333  0.117862   8.723430
d           34.500000  552.633333  0.095285   7.585528

In [3]:
tft_result = pd.read_csv('../output/tft_result.csv')
tft_result.mean()

Unnamed: 0     49.500000
Store         585.390000
rmspe           0.113486
smape           8.605681
dtype: float64

In [43]:
tft_hresult = pd.read_csv('../output/tft_hyper_result.csv')
tft_hresult.mean()

Store    585.390000
RMSPE      0.107697
SMAPE      8.418612
dtype: float64

In [44]:
tft_hresult.groupby('StoreType').mean()

                Store     RMSPE     SMAPE
StoreType
a          567.566667  0.117280  8.628448
b          542.700000  0.098375  8.100029
c          615.800000  0.098450  7.949165
d          587.033333  0.110469  8.784416