In [14]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [15]:
arima_result = pd.read_csv('../output/arima_result.csv').iloc[:,1:]

In [16]:
arima_result.groupby('StoreType').mean()

                Store   rmspe_x    smape_x   rmspe_y    smape_y
StoreType
a          617.333333  0.300818  25.695986  0.071904   5.838239
b          528.600000  0.348323  24.082024  0.136966  10.775421
c          605.133333  0.270080  26.078050  0.068653   5.673626
d          552.633333  0.270621  26.510382  0.064497   5.399936

In [17]:
arima_result.mean()

C:\Users\daeky\AppData\Local\Temp\ipykernel_23916\3861763651.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  arima_result.mean()

Store      585.390000
rmspe_x      0.287288
smape_x     25.893528
rmspe_y      0.075213
smape_y      6.151082
dtype: float64

In [18]:
prophet_result = pd.read_csv('../output/prophet_result.csv').iloc[:,1:]

In [19]:
prophet_result.groupby('StoreType').mean()

                Store   rmspe_x    smape_x   rmspe_y   smape_y
StoreType
a          617.333333  0.194242  15.890097  0.060479  4.802667
b          528.600000  0.205450  15.950073  0.101591  7.556422
c          605.133333  0.208299  17.809940  0.059190  4.766477
d          552.633333  0.210246  17.781989  0.054178  4.396319

In [20]:
prophet_result.mean()

C:\Users\daeky\AppData\Local\Temp\ipykernel_23916\2078944635.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  prophet_result.mean()

Store      585.390000
rmspe_x      0.204381
smape_x     17.039615
rmspe_y      0.062313
smape_y      4.945281
dtype: float64

In [21]:
rnn_result = pd.read_csv('../output/rnn_result.csv').iloc[:,1:]

In [22]:
rnn_result.groupby('StoreType').mean()

,Store,rmspe_x,smape_x,rmspe_y,smape_y,rmspe_x.1,smape_x.1,rmspe_y.1,smape_y.1
StoreType,,,,,,,,,
a,617.333333,0.210304,18.011788,0.085123,7.603723,0.101497,8.250443,0.186412,14.957513
b,528.600000,0.190981,14.303545,0.144847,13.290456,0.275378,21.288224,0.340942,25.112130
c,605.133333,0.208759,18.768218,0.092024,8.124409,0.107316,8.869393,0.190505,16.302750
d,552.633333,0.198581,18.583121,0.080552,7.416851,0.088299,7.239860,0.186544,15.546860

In [23]:
rnn_result.mean()

C:\Users\daeky\AppData\Local\Temp\ipykernel_23916\3415198509.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  rnn_result.mean()

Store        585.390000
rmspe_x        0.204391
smape_x       18.039293
rmspe_y        0.091794
smape_y        8.272540
rmspe_x.1      0.116671
smape_x.1      9.436731
rmspe_y.1      0.203133
smape_y.1     16.553350
dtype: float64

In [24]:
tft_result = pd.read_csv('../output/tft_result.csv').iloc[:,1:]

In [25]:
tft_result.groupby('StoreType').mean()

                Store     rmspe      smape
StoreType
a          617.333333  0.101963   7.931981
b          528.600000  0.189533  13.333993
c          605.133333  0.117862   8.723430
d          552.633333  0.095285   7.585528

In [26]:
tft_result.mean()

C:\Users\daeky\AppData\Local\Temp\ipykernel_23916\895505731.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tft_result.mean()

Store    585.390000
rmspe      0.113486
smape      8.605681
dtype: float64

In [27]:
nbeats_result = pd.read_csv('../output/nbeats_result.csv').iloc[:,1:]

In [28]:
nbeats_result.groupby('StoreType').mean()

                Store   rmspe_x    smape_x   rmspe_y    smape_y
StoreType
a          617.333333  0.213521  16.104201  0.208027  16.838388
b          528.600000  0.247181  18.538222  0.274584  20.796762
c          605.133333  0.256881  21.890621  0.231566  20.981952
d          552.633333  0.214263  17.053565  0.228243  18.748780

In [29]:
nbeats_result.mean()

C:\Users\daeky\AppData\Local\Temp\ipykernel_23916\2873481486.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  nbeats_result.mean()

Store      585.390000
rmspe_x      0.230118
smape_x     18.368338
rmspe_y      0.227809
smape_y     19.050412
dtype: float64